<div class="flex flex-col gap-2">
    Testing::::
    <label>username</label>
    <button class="rounded-xl bg-slate-500 text-white" (click)="onLogin('e7f40126-3b17-4909-a830-8c7b1e93ff5b')">Login to ajay1596</button>
    <button class="rounded-xl bg-slate-500 text-white" (click)="onLogin('a663b1ab-2a9c-4328-a043-56b47d89dc55')">Login to lhawk0</button>
    <button class="rounded-xl bg-slate-500 text-white" (click)="onLogin('b302f64c-01dc-417e-87ac-df84b19904b8')">Login to fnutbeam1</button>
</div>

